@import url(base.css);
@import url(containers/header.css);
@import url(containers/presentation.css);
@import url(containers/formation.css);
@import url(containers/aboutme.css);
@import url(containers/contact.css);
@import url(containers/footer.css);
@import url(containers/proyects.css);

body{
    background: var(--base-color-b);
    color: var(--base-color-l);
    font-family: var(--font-family-body);
}

.titulo{
    font-family: var(--font-family-cursive);
    font-size: 5rem;
    padding: 0.5em 1rem;
}

h3{
    font-family: var(--font-family-cursive);
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
}

h4{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.container{
    margin: 1rem auto;
    padding: 0.5rem;
    width: 90%;
}

.scrolling--wrapper{
    height: 8rem;
    margin: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling--wrapper div{
    height: auto;
    margin: 10px auto;
    text-align: center;
}

.scrolling--wrapper div:hover{
    height: 75%;
    color: var(--base-color-c);
}

button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 1rem;
}

/* For mobile phones: */
@media only screen and (max-width: 600px){
    .headerM{
        display: none;
    }
    .headerM--nav{
        width: auto;
    }

    .formation--item{
        min-width: 100%;
    }

    .aboutme>p{
        width: 100%;
    }
}

/* For Medium devices: */
@media screen and (max-width: 992px){
    .proyects--image{
        height: auto;
        width: 100%;
    }

    .container{
        padding: 0%;
        width: 85%;
    }

    .headerM--title{
        font-size: 1em;
    }
    
    .presentation{
        margin-top: 0;
    }

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}