/*Formation*/
.formation{
    background: var(--base-color-b2);
}

.formation--flexbox{
    display: flex;
    flex-wrap: wrap;
}

.formation--item{
    margin:auto;
    margin-bottom: 2rem;
    max-width: 368px;
    width: 100%;
}

.formation--picture{
    background: var(--base-color-b);
    height: 286px;
    position: relative;
}

.formation--image{
    max-width: 200px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}